<!DOCTYPE html>
<html>
  <head>
    <title>Sessions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <header class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
  <h1>Sessions</h1>
          </div>

          <ul class="nav navbar-nav navbar-right">
               <% if current_user %>
               <button onclick="location.href='https://zoom.us/oauth2/login?client_id=tCzVUvPYRoSaB1voL6LNlg&response_type=code&redirect_uri=https%3A%2F%2Fviasession.com%2Fauth%2Fzoom%2Fcallback&state=7724d807a198f016a477b7de28a7df837426fb50fa255a61&_x_zm_rtaid=N-4iRLM5RkSXXgKkaddGwQ.1611510580931.02fbb3626d447a90a5786a19bfd0a605&_x_zm_rhtaid=605'" type="button" class="btn btn-primary">
         create a meating</button>
         
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "btn btn-warning" %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-primary" %>
<%= link_to 'Sign in' , new_user_session_path, :class => "btn btn-success" %>
<% end %>
          </ul>
        </div>
      </nav>
    </header>
 <div class="text-center">
    <%= render 'layouts/alerts' %> 
   
  
    <%= yield %> </div>
  </body>
</html>
